{% extends "SruCoreBundle:BackOffice:layout.html.twig" %}

{% block content %}
    {{ parent() }}
    <h1>Profil : {{ entity.libelle }}</h1>
    <hr>

    <a href="{{ path('admin_profil_edit', {id : entity.id}) }}" class="btn btn-warning">
        <span class="glyphicon glyphicon-pencil"></span>&nbsp; Modifier</a>
    <a href="{{ path('admin_profil_delete', {id : entity.id}) }}" class="btn btn-danger">
        <span class="glyphicon glyphicon-trash"></span>&nbsp; Supprimer</a>
    <br><br>

    {{ render(controller("SruCoreBundle:Profil:informationPaths")) }}

    <div class="table-responsive">
        <table class="table table-bordered text-left table-striped table-hover">
            <thead class="bg-primary">
            <tr>
                <th>Libelle</th>

                <th>Description</th>
                <th>Roles</th>

            </tr>
            </thead>
            <tbody>

                <tr>
                    <td>{{ entity.libelle }}</td>

                    <td>{{ entity.description }}</td>
                    <td>
                        <select>
                            {% for role in entity.role %}
                                <option>{{ role }}</option>
                            {% endfor %}

                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

{% endblock %}
