{% extends "SruCoreBundle:BackOffice:layout.html.twig" %}

{% block content %}
    {{ parent() }}
    <h1>Gestion des fournisseurs</h1>
    <hr>

    <a href="{{ path('admin_provider_new') }}" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>&nbsp; Créer un fournisseur</a>
    <div class="text-center"> {{ knp_pagination_render(entities) }}</div>

<form method="post" action="{{ path('admin_provider_options') }}">



    {% include "SruCoreBundle:BackOffice/Filter:checkbox.html.twig"
    %}
    <br>
    <div class="table-responsive">
        <table class="table table-bordered text-left table-striped table-hover">
            <thead class="bg-primary">
            <tr>
                <th class="text-center"><input type="checkbox" class="selectAll"  ></th>
                <th>Image</th>
                <th>
                    {% include "SruCoreBundle:BackOffice/Filter:header.html.twig"
                    with {'name' : "Nom", "field" : "name"} %}
                </th>
                <th>
                    {% include "SruCoreBundle:BackOffice/Filter:header.html.twig"
                    with {'name' : "Adresse", "field" : "street"} %}
                </th>
                <th>
                    {% include "SruCoreBundle:BackOffice/Filter:header.html.twig"
                    with {'name' : "Nr siret", "field" : "siret"} %}
                </th>
                <th>Transport</th>
                <th>
                    {% include "SruCoreBundle:BackOffice/Filter:header.html.twig"
                    with {'name' : "Mémo", "field" : "memo"} %}
                </th>

                <th class="text-center">Modifier</th>
                <th class="text-center">Supprimer</th>

            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td class="text-center"><input type="checkbox" class="checker" name="entity[]" value="{{ entity.id }}"></td>
                    <td class="col-lg-1">

                        {% if entity.picture %}
                                <img src="{{ asset('bundles/srucore/images/') ~ entity.picture.name }}" height="50">
                        {% else %}
                            <div class="img-thumbnail text-center">
                                <b>Aucune image</b>
                            </div>

                        {% endif %}
                    </td>

                    <td>{{ entity.name }}</td>
                    <td>{{ entity.street ~ " " ~ entity.zipCode ~ " " ~ entity.city ~ " " ~ entity.country }}</td>
                    <td>{{ entity.siret }}</td>


                    <td>
                        <select>
                            {% for transport in entity.transport %}
                                <option>{{ transport.name }}</option>
                            {% endfor %}
                        </select>

                    </td>

                    <td>
                        {{ entity.memo }}
                    </td>


                    <td class="text-center">
                        <a href="{{ path('admin_provider_edit', { 'id': entity.id }) }}"><span class="glyphicon glyphicon-pencil text-warning"></span></a>
                    </td>
                    <td class="text-center">
                        <a href="{{ path('admin_provider_delete', { 'id': entity.id }) }}" onclick="return confirm('Etes-vous sur de vouloir supprimer {{ entity.name }} ?')">
                            <span class="glyphicon glyphicon-remove text-danger"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% include "SruCoreBundle:BackOffice/Filter:checkbox.html.twig"
    %}
    </form>

    <div class="text-center"> {{ knp_pagination_render(entities) }}</div>
{% endblock %}
