{% extends "SruCoreBundle:BackOffice:layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/srucore/css/bootstrap-multiselect.css') }}">

{% endblock %}

{% block content %}
    {{ parent() }}

    <h1>Création d'un transport</h1>

    <hr>
    {% if erreurs is defined  %}
        <div class="alert alert-danger">Erreurs :  {{ erreurs }}</div>
    {% endif %}

    {% include "SruCoreBundle:BackOffice/Transport:form.new.html.twig" %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}


    <script src="{{ asset('bundles/srucore/js/bootstrap-multiselect.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/srucore/js/ajax/create.js') }}" type="text/javascript"></script>

{% endblock %}
