{% for entity in adresses %}
    <div class="large-4 columns">
        <div class="panel clearfix">
            <b>{{ entity.lastname }}
            {{ entity.firstname }}</b><hr>
            {{ entity.street }}<hr>
            {{ entity.zipCode }}
            {{ entity.city }}<hr>
            {{ entity.country }}<hr>

            <a href="{{ path('profil_informations_edit', {id : entity.id}) }}" class="button tiny left"><i class="fi-pencil"></i></a>
            <a href="{{ path('profil_informations_delete', {id : entity.id}) }}" class="button alert tiny right"><i class="fi-x"></i></a>

        </div>
    </div>
{% endfor %}