{% extends "SruCoreBundle:BackOffice:layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/srucore/css/bootstrap-multiselect.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/srucore/css/bootstrap-switch.css') }}">
{% endblock %}

{% block content %}
    {{ parent() }}

    <h1>Création d'une promotion</h1>

    <hr>
    {% if erreurs is defined  %}
        <div class="alert alert-danger">Erreurs :  {{ erreurs }}</div>
    {% endif %}

    {% include "SruCoreBundle:BackOffice/Promotion:form.new.html.twig" %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/srucore/js/bootstrap-switch.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/srucore/js/picture/pictureHandler.js') }}" ></script>
    <script src="{{ asset('bundles/srucore/js/picture/classUpload.js') }}" ></script>
    <script src="{{ asset('bundles/srucore/js/picture/classDropFile.js') }}" ></script>

{% endblock %}
